<ion-header>
  <ion-item color="primary" class="ion-padding">
    <ion-input readonly>Welcome {{username}} / Role: {{role}}</ion-input>
    <ion-button type="submit" class="" (click)="createStaff()">NEW STAFF</ion-button>
    <ion-button type="submit" class="" (click)="viewBooking()">VIEW BOOKING</ion-button>
  </ion-item>
</ion-header>

<ion-content>

<form>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
      <ion-input position="stacked">CUSTOMER DETAILS</ion-input>
    </ion-toolbar>

    <ion-item>
      <ion-label position="stacked">PPSN <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="ppsn" name="ppsn"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">First Name <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Middle Name<ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="midName" name="midName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="surname" name="surname"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Phone <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="phone" name="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input readonly [(ngModel)]="email" name="email"></ion-input>
    </ion-item>


    <ion-toolbar color="primary">
      <ion-input position="stacked">VEHICLES</ion-input>
    </ion-toolbar>
    <ion-item>
      <ion-label position="stacked"></ion-label>
      <li class="ion-padding-vertical" *ngFor="let vehicle of vehicles">{{vehicle.type}}: {{vehicle.maker}}
        {{vehicle.model}} {{vehicle.manufacture}} / Fuel: {{vehicle.fuel}} / Licence: {{vehicle.licenceNumber}} </li>
    </ion-item>


  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="onUpdate()">UPDATE</ion-button>
  </div>

</form>
</ion-content>
<ion-alert-controller></ion-alert-controller>